/* === VARS === */
:root {
  /* === COLORS === */
  --primary: hsl(185, 75%, 39%);
  --secondary: hsl(229, 23%, 23%);
  --tertiary: hsl(227, 10%, 46%);

  --neutral: hsl(0, 0%, 59%);

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  background-color: var(--primary);
  text-align: center;

  background-image: url('../images/bg-pattern-top.svg'),
    url('../images/bg-pattern-bottom.svg');
  background-repeat: no-repeat, no-repeat;
  /* == Desktop === */
  background-position: -30% 60%, 120% -60%;
}

@media screen and (max-width: 375px) {
  body {
    background-position: 135% 60%, -20% -95%;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* === CARD === */
.card {
  width: 350px;
  height: 400px;
  background: white no-repeat top url('../images/bg-pattern-card.svg');
  position: relative;
  margin: 0 auto;
  border-radius: 25px;
  top: 25vh;
}

.card--img {
  position: absolute;
  top: 90px;
  left: 127px;
  border-radius: 50%;
  border: 5px solid white;
}

.card--title {
  padding-top: 200px;
  font-size: 18px;
}

.card--span {
  font-weight: 400;
  color: var(--neutral);
}

.card--subtitle {
  font-size: 15px;
  font-weight: 400;
  color: var(--neutral);
}

.card--list {
  border-top: solid 1px var(--neutral);
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
}

.card--p-stat {
  font-weight: 700;
}

.card--p-type {
  font-weight: 400;
  font-size: 15px;
  color: var(--neutral);
}

/* === Frontend mentor === */
.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 1%;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
